apiVersion: apps/v1
kind: Deployment
metadata:
  name: localstack
  namespace: watch-marketplace
spec:
  replicas: 1
  selector:
    matchLabels:
      app: localstack
  template:
    metadata:
      labels:
        app: localstack
    spec:
      containers:
        - name: localstack
          image: localstack/localstack:latest
          ports:
            - containerPort: 4566
          env:
            - name: SERVICES
              value: "s3"
            - name: DEBUG
              value: "1"
---
apiVersion: v1
kind: Service
metadata:
  name: localstack
  namespace: watch-marketplace
spec:
  selector:
    app: localstack
  ports:
    - protocol: TCP
      port: 4566
      targetPort: 4566
