apiVersion: apps/v1
kind: Deployment
metadata:
  name: watch-store-web
  namespace: watch-marketplace
spec:
  replicas: 3
  selector:
    matchLabels:
      app: watch-store-web
  template:
    metadata:
      labels:
        app: watch-store-web
    spec:
      containers:
        - name: php-apache
          image: watch-store:latest # User needs to build this locally
          imagePullPolicy: Never    # Use local image
          ports:
            - containerPort: 80
          envFrom:
            - configMapRef:
                name: app-config
          # Initialization to wait for DB and Create S3 bucket
          lifecycle:
            postStart:
              exec:
                command: ["/bin/sh", "-c", "php seed_products.php"] # Auto-seed on startup (simple demo approach)
---
apiVersion: v1
kind: Service
metadata:
  name: watch-store-service
  namespace: watch-marketplace
spec:
  selector:
    app: watch-store-web
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: LoadBalancer 
